#blogList {
	margin-left: 10px;
}

#blogList li {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
}

#blogList li a {
	border:2px solid red;
  	background-color: black;
  	color: white;
  	border-radius: 4px;
  	padding: 10px;
  	color: white;
  	margin-left: 10px;
  	margin-bottom: 10px;
	display: inline-block;
}

#blogList li a:hover {
	background-color: blue;
}

h3 {
	margin-left: 0px;
}

h1 {
	margin-bottom: 10px;
}