input[type=submit] {
	border:2px solid red;
  	background-color: black;
  	color: white;
  	border-radius: 4px;
  	padding: 10px;
  	color: white;
  	margin-left: 10px;
  	margin-bottom: 10px;
}

td {
	font-size: 15px;
	padding: 5px;
	text-align: center;
	background-color: gray;
	color: yellow;
}