#codeExample {
	background-color: black;
	color: yellow;
	font-size: 15px;
	padding: 10px;
	border-radius: 20px;
	margin-left: 10px;
	margin-right: 50%;
	margin-top: 10px;
	margin-bottom: 10px
}

#instructionsPre {
	font-size: 14px;
}

input {
	border:2px solid red;
  	background-color: black;
  	color: white;
  	border-radius: 4px;
  	padding: 10px;
  	color: white;
  	margin-left: 10px;
  	margin-bottom: 10px;
}

#jsBlog {
	width: 40%;
}

/* I removed the background as it broke in mobile mode */
@media all and (max-width : 800px) {

#codeExample {
background-color: white;
color: black;
font-size: 15px;
padding: 10px;
	
}

}