@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');

#mobile-nav-button{
	position: absolute;
	top:0px;
	right:0px;
	width:44px;
	height:44px;
	background-color: red;
	color:white;
	font-weight: bold;
	line-height: 44px;
	text-align: center;
	cursor:pointer;
	display:none;
}

body {
	font-family: Times New Roman;
	font-size: 12px;
	color: black;
}

header {
	background-color: black;
	height: 60px;
}

header h1 {
	color: white;
	font-family: 'Lobster', cursive;
	line-height: 60px;
	font-size: 45px;
	text-align: center;
	margin-top: 0px;
	margin-left: 0px;
}

a {
	color: blue;
}

a:hover {
	color: purple;
}

#main-nav {
	background-color: gray;
	margin-bottom: 10px;
}

#main-nav li {
	display: inline;
	list-style: none;
}

#main-nav li a {
	display: inline-block;
	padding: 10px;
	color: yellow;
}

#selectable-nav:hover {
	background-color: red;
	color: white;
	transform:scale(1.2);
	-webkit-transition: all 0.2s ease;
}

#currentTab {
	background-color: white;
}

#main-nav li #currentTab {
	color: black;
}

#myHobbyH3 {
	text-align: center;
	margin-left: 0px;
	text-decoration: underline;
}

#myHobby li {
	text-align: center;
	padding: 2px;
	font-size: 13px;
}

h3 {
	color: black;
	font-size: 140%;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-top: 20px;
}

h1 {
	font-size: 300%;
	margin-top: 20px;
	margin-left: 10px;
}

h6 {
	color: red;
	font-size: 15px;
}

table {
	margin-left: 10px;
}

p {
	line-height: 16px;
	margin-bottom: 12px;
	margin-left: 10px;
	font-size: 13px;
}

footer {
	background-color: black;
	color: white;
	font-size: 85%;
	padding: 10px;
}

#content {
	overflow: auto;
	position: relative;
}

main {
	float: left;
	width: 70%;
}

aside {
	float: left;
	width: 30%;
}

img {
	margin: 10px
}

aside img {
	width: 75%;
}

main img {
	width: 85%;
}











@media all and (max-width : 800px) {
	header {
		height: 44px;
	}

	header h1 {
		text-align: left;
		font-size: 30px;
		line-height: 45px;
	}

	body h3 {
		text-align: center;
	}

	main, aside {
		width: 100%;
		float: none;
		position: static;
	}
	#main-nav {
		display: none;
		height: auto;
	}
	#main-nav ul li {
		display: block;
	}
	#mobile-nav-button {
		display: block;
	}

}