input[type=button]{
      border:2px solid gray;
      background-color: #333333;
      border-radius: 4px;
      padding:10px;
      color:gray;
      font-weight: bold;
    }

    #Photo-gallery{
      width:50%;
    }

    #Photo-gallery #mainPhto{
      width:100%;
      border: 2px solid #333333;
    }