input[type=button]{
  border:4px solid black;
  background-color: gray;
  border-radius: 4px;
  padding:10px;
  color: white;
  font-weight: bold;
}

div {
  text-align: center;
}

#Photo-gallery{
  width:50%;
  margin: auto;
}

#Photo-gallery #mainPhto{
  width:100%;
  border: 8px solid black;
}

h1 {
  text-align: center;
}